$background: #062863;
$backgroundhover: #669bbc;
$text: rgb(253, 240, 213) !important;
$texthover: #669bbc !important;
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Spectral&display=swap');

* {
  color: $text;
  text-decoration-line: none !important;
  font-family: 'PT Serif', serif;
}


body {
  background-color: $background !important;
}

.hidden {
  display: none;
}

#tsparticles {
  z-index: -1;
  position: fixed;

}

.intro {
  font-size: 6.5vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: left;
}

.intro1 {
  display: flex;
  flex-direction: column;

}

.charmer {
  rotate: (15deg);
  display: flex;
  flex-direction: column;
  height: 22rem;
  width: auto;
  border-radius: 10%;
  border: 0.4rem solid rgba(253, 240, 213, 0.713);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
  -webkit-animation: morph 8s ease-in-out infinite;
  animation: morph 8s ease-in-out infinite;
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }

  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}


a.navLink {
  position: relative;
  color: $text;
  font-family: 'Spectral';
  text-decoration: wavy !important;

  &:hover {
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.484);
    animation: shake 0.15s ease-in-out;
    color: $texthover;
  }
}

.devAcadLink:hover {
  text-decoration: underline !important;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.484);
  color: $texthover;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(3deg);
  }

  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(-3deg);
  }

  100% {
    transform: rotate(0deg);
  }
}


.navLink {
  margin: 0 0.7rem 0 0.7rem;
  text-decoration-line: none;
  background-color: unset;
  // font-family: "Kanit", Serif;
  font-size: 1.3rem;
}


.navbar {
  background-color: $background;
  height: 2.5rem !important;
  font-size: 1.2rem;
}

.navCont {
  border-bottom: 0.5px groove rgba(255, 255, 255, 0.369) !important;
}

.navbar-nav {
  background-color: $background;
}

.container {
  // background-color: unset;
  display: block;
}

.cvEmbed {
  display: flex;
  place-content: center;
  margin: 0 0 0 0;
  width: 100vw;
  height: 95vh;
}

.homePage {
  place-content: center;
  display: block;
  text-shadow: 1px 1px 1px black;
}

.homeBody {
  margin: 2.5rem 0 0 0;
  display: flex;
  place-content: center space-between;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 0;

  .homeBody1 {
    font-size: 1.1rem;
    margin: 0 0 0 0;
    max-width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .homeBody1TextBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin: 0 0 0 0;
  }

  .homeBody2 {
    font-size: 1.1rem;
    margin: 1.75rem 1.5rem 1.5rem 0;
    max-width: 50%;
    display: block;
    text-align: center;
  }
}

.contactBox {
  display: flex;
  place-content: center;
}

.homeBodyImg {
  margin: 0 1rem 0 1rem;

  &.pageLink {
    align-content: center;
  }

  &:hover {
    transform: rotateY('45deg');
    animation: transform 0.5s ease-in-out;
  }
}



.projectBody {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  place-content: center;
  margin: 0 0 0 0;
}




.imgBox {
  display: flex;
  margin: 0.5rem auto auto auto;
  place-content: center;
}

.displayNone {
  display: none;
}


.herdousel {
  margin-bottom: 15px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-color: rgba(0, 0, 0, 0.416);
  border-radius: 50%;
}

.carousel-control-next-icon:hover,
.carousel-control-prev-icon:hover {
  background-color: rgba(0, 0, 0, 0.616);
  width: 35px;
  height: 35px;
}

.cvPage {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  place-content: center;
  align-items: center;
  margin: 2rem 0 2rem 0;
  gap: 1rem;
}

.prevButton,
.nextButton,
.returnButton {
  background-color: unset;
  color: $text;
  font-size: 1.5rem;
  font-weight: 700;

  &:hover {
    color: $texthover;
    cursor: pointer;
  }
}

.prevButton {
  left: 20rem;
}

.nextButton {
  right: 22rem;
}

.returnButton {
  right: 20.5rem;
}

.downloadButton {
  position: absolute;
  top: 2.5rem;
  left: 1.5rem;

  &:hover {
    color: $texthover;
    cursor: pointer;
  }
}

.carText {
  text-align: center;
  font-size: 1.2rem;
  text-shadow: 1px 1px 1px black;
}

.projectViews {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  place-content: center;
  margin: 0.6rem 0 0 0;
  padding: 0.2rem;
  text-align: center;
  min-width: 100vw;
  min-height: auto;

}



.projectbuttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  place-content: center;
  text-align: center;
  min-width: 50vw;
  min-height: auto;
  color: $text;
  margin: 0.2rem 0 0.2rem 0;
}

.projectbutton {
  margin: 0 1rem 0 1rem;
  border-bottom: 0.5px groove rgba(255, 255, 255, 0.369) !important;
  border-radius: 5px;
  font-size: 1.1rem;
  background-color: $background;
  width: auto;
  &:hover {
    background-color: $backgroundhover;
    cursor: pointer;
  }
}

.carousel {
  margin: 0 auto 0 auto;
  max-width: 55em;
  max-height: auto;
}

.carouselImg {
  margin: 0 auto 0 auto;
  max-width: 50rem;
  max-height: auto;
}

@media (max-width: 800px) {
  .homeBody {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .homeBody2 {
    position: relative;
    font-size: 1.1rem;
    margin: auto;
    margin-bottom: 50px;
    max-width: 50%;
    display: block;
    text-align: center;
  }

  .charmer {
    position: relative;
    margin: auto;
  }
}

@media (min-width: 950px) {
  .homePage {
    margin: 4rem 0 0 0;
  }

  .homeBody2 {
    position: absolute;
    right: 10%;
    top: 60%;
    font-size: 1.1rem;
    margin: 1.75rem 1.5rem 0 0;
    max-width: 50%;
    display: block;
    text-align: center;
  }

  .charmer {
    position: absolute;
    right: 10%;
    top: 10%;
  }
}

